h1 {
    color: blueviolet;
}

ul {
    border: 5px dashed;
    
    text-align: center;
    list-style: none;
    padding-left: 0;
    width: 50%;
    margin: auto;
}

ul li {
    border: 3px outset;
   
    display: inline-block;
}

img {
    display: block;
    width: 50%;
    margin: auto;
}

.mideast {
    width: auto;
    margin: auto;
}

.IraqRivers {
    width: auto;
    margin: auto;
}

#pic1 {

}

#pic2 {
    margin: auto;
}

#pic3 {
    
}